.App {
  text-align: center;
  background-color: #f5f7f9;
  height: 100%;
  width: 100vw;
}

.main-section {
  background: white;
  border-radius: 15px;
  margin: 1.5rem;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 720px) {
  .item-section {
    width: 30% !important;
    max-width: 30% !important;
  }
}
